*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family:"Poppins" ,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #f0f0f0;
   
}
.navbar{
   display: flex;
   justify-content:space-between;
   align-items: center;
   background-color:#ff6347;
 width: 100%;
 height: 100px;
}

 .navbar .navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    padding: 5px;
    margin: 1.5rem;
    color:white;

 } 
 
 .navbar .navbar-nav{
   position: absolute;
   right: 30px;
   background-color: #ff6347;
 
 }

.navbar .nav-item{
 display: flex;
margin-left: auto;
list-style: none;
 
}
.navbar .nav-link{
    padding: 20px;
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
   color:#fff;
   cursor: pointer;
}
.nav-link:hover{
    text-decoration: underline;
}
.navbar-toggle {
    display: none;
    font-size: 24px;
    color: white;
    background-color:#ff6347;
    border: none;
    cursor: pointer;
    padding-left: 20rem;
    padding-bottom: 10px;
    z-index: 1000; 
}
.hero-section {
    margin-top: 2rem;
   background-color: #f9f9f9;

}

.hero-img {height: 500px;
    width: 500px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    filter: brightness(0.7) contrast(1.1);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    border-radius: 15px; 
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}
.hero-img:hover {
    transform: scale(1.05); 
    filter: brightness(0.9) contrast(1.2); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); }

.heading {
    font-size: 3rem;
    font-weight: 700;
}

.price {
    font-size: 2rem;
    font-weight: 600;
    color: #ff6347;
}

.text {
    font-weight: 300;
    margin-top: 1rem;
    line-height: 1.6;
}
.btn{
    height: 35px;
    width: 80px;
    background-color: white;
    color: #ff6347;
    padding: 5px 20px;
    border: none;
    margin:1.7rem 2rem;
    
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer; 
    transition: background-color 0.3s; 
    
    }
    .btn:hover{
        background-color:#ff6347;
        color: #fff;
    }
    .heading{
        font-size: 3rem;
        font-weight: 700;
        color: #333;
        text-align: center;
      
        
    }
    .container my-5{
        box-shadow: 0 0 .3rem #000;
    }
    .mid-text{
        font-weight: 300;
        margin-bottom: 2rem;
    }
    .hero-table{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .table {
        width: 60%;
        border-collapse: collapse; 
        /* margin: 20px 0; */
        font-size: 18px;
        text-align: left;
        background-color: #ff6347; 
        color: white;
    }
    th, td {
        padding: 12px 15px;
        border: 1px solid #ddd; ;
    }
    th {
       
        font-weight: bold;
    }
    .card-container{
        display: flex;
        align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     background-color: #fff;
    }
    .card{
        margin:5rem 2rem;
        height: 300px;
        background-color: #ddd;
        border-radius: 8px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .card-img-top{
        height:78px;
        width: 78px;
        max-width: 30%;
    position: relative;
    left: 150px;
    margin-bottom: 2rem;
       
    }
    .card-title{
        font-size: 1em;
        font-weight: 800;
        margin-bottom: 5px;
      
    }
    .card-text{
        padding:  0 2em ;
    }
    .card {
        width: 25rem;
        transform: rotate(-2deg);
        transition: transform 0.3s ease-in-out;
    }
    
    .card:hover {
        transform: rotate(0deg);
    }
    h5:hover{
        color: #ff6347;
    }
    .accordion-button {
        font-weight: bold;
        color: #343a40;
        background-color: #f8f9fa;
    }
  
    .accordion-body {
        color: #6c757d; 
    }
    .accordion-item {
        width: 100%; 
    }
    footer {
        background-color: #fff;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 .3rem #000;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        }
        
        footer p {
        font-size: 1.3rem;
        font-weight: 600;
        font-style: italic;
        }
        
        p span {
        font-family: slo;
        font-weight: 200;
        font-size: 1rem;
        }
        
        .icons {color: #000;
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 12px;
        }